

.changeColor{
    background-color:cyan;
    color:black;
}

.changeColor:hover{
    background-color: black;
    color:white;
}

.grid-container {
    display: grid;
    grid-template-rows: 150px 340px 192px 60px 60px 200px 300px 800px;
    grid-gap: 0px;
    grid-template-columns: 800px 150px;
    background-color: seashell;
    padding: 30px;
    justify-content: center;
    
}

.item1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    background-color: white;
}

.item2 {
    grid-row: 2 / span 1;
    background-color: white;
}

.item20 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    background-color: white;
}

.item3 {
    grid-row: 3 / span 1;
    background-color: white;
}

.item30 {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    background-color: white;
}

.item4 {
    grid-row: 4 / span 1;
    background-color: white;
}

.item40 {
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
    background-color: white;
}


.item5 {
    grid-row: 5 / span 1;
    grid-column: 1 / span 2;
    background-color: white;
}

.item6 {
    grid-row: 6 / span 1;
    background-color: white;
}

.item60 {
    grid-row: 6 / span 1;
    grid-column: 2 / span 1;
    background-color: white;
}

.item7 {
    grid-row: 7 / span 1;
    grid-column: 1 / span 2;
    background-color: white;
}

.item8 {
    grid-row: 8 / span 1;
    grid-column: 1 / span 2;
    background-color: white;
}

